@model IEnumerable<LibraryMgmtApp.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Products.</h2>

@if (!Model.Any())
{
    <p>We don't have any product yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Genre</th>
                <th>Date Released</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)</td>
                    <td>@product.Author</td>
                    <td>@product.Category.Name</td>
                    <td>@product.Genre.Name</td>
                    <td>@product.ReleaseDate.ToLongDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

